<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.weakll.mall.user.mapper.RegionMapper">

    <resultMap id="regionMap" type="io.github.weakll.mall.model.entity.base.Region" autoMapping="true">
    </resultMap>

    <sql id="columns">
        id, code, parent_code, name, level, create_time, update_time, is_deleted
    </sql>

    <select id="findByParentCode" resultMap="regionMap">
        select <include refid="columns" />
        from region
        where parent_code = #{parentCode}
        and is_deleted = 0
        order by code
    </select>

</mapper>
