MYSQL_ROOT_PASSWORD=replace_with_strong_root_password
MYSQL_DATABASE=selection_mall
MYSQL_USERNAME=selection_mall
MYSQL_PASSWORD=replace_with_strong_database_password
REDIS_PASSWORD=replace_with_strong_redis_password
NACOS_AUTH_TOKEN=replace_with_base64_token
FRONTEND_URL=http://127.0.0.1
